body {
	margin: 0;
	background-color: #f8f8f8;
	font-family: sans-serif;
	font-size: 12px;
}

container {
	width: 100vw;
	height: 100vh;
}

content {
	position: absolute;
	width: 100%;
	padding-top: 80px;
	z-index: -1;
}

.btn {
	display: inline-flex;
	width: 40px;
	height: 40px;
}

.btn-icon {
	margin: auto;
	color: #eeeeee;
}

.toolbar-box{
	display: flex;
	align-items: center;
	position: fixed;
	top: 0;
	width: 100%;
	height: 80px;
	overflow: hidden;
	background-color: #444444;
	z-index: 100;
}

.toolbar-text-box {
	display: flex;
	width: 100%;
	padding: 10px 15px 0 15px;
}

.toolbar-text {
	color: #eeeeee;
	font-size: large;
	font-weight: normal;
}

.toolbar-icon-box {
	margin: auto 0 auto auto;
}
sub-toolbar {
	display: flex;
	justify-content: space-between;
	padding: 15px 10px 0px 10px;
}

sub-toolbar-icon-box {
	display: inline-flex;
	justify-content: space-between;
}
.sub-toolbar-icon {
	display: flex;
	width: 45px;
	color: #888888;
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.40);
	padding-bottom: 3px;
}

.sub-toolbar-text {
	align-self: center;
	font-size: 14px;
	font-weight: 500;
	color: #888888;
}

.label-icon {
	margin-right: 10px;
	color: #444444;
}

project {
	display: block;
	margin: 10px 5px;
	padding-bottom: 10px;
	background-color: white;
	box-shadow: 1px 1px 5px #aaaaaa;
}

card-title {
	display: flex;
	flex-direction: row;
	padding: 10px;
	background-color: darkgrey;
	color: #eeeeee;
}

.text-btn {
	display: flex;
	align-items: center;
	width: 40px;
	height: 37px;
	border-radius: 20px;
	background-color: #888888;
	box-shadow: 3px 3px 4px rgba(0, 0, 0, 0.40);
	text-shadow: 3px 3px 4px rgba(0, 0, 0, 0.40);
	padding-bottom: 3px;
}
.btn-text {
	margin: auto;
	padding-top: 3px;
	color: white;
	font-weight: 700;
	padding-bottom: 0;
}

.active {
	color: #444444;
	padding-bottom: 0;
	text-shadow: none;
	z-index: 101;
}
.active-bkg {
	background-color: #444444;
	padding-bottom: 0;
	height: 40px;
	text-shadow: none;
	box-shadow: none;
}

.blue {
	background-color: dodgerblue;
}
.light-blue-box {
	background-color: lightblue;
}
.blue-box {
	background-color: dodgerblue;
	box-shadow: 0 0 100px rgba(0, 0, 0, .3) inset;
	height: 40px;
	padding-bottom: 0;
}
.green {
	background-color: forestgreen;
}
.light-green-box {
	background-color: palegreen;
}
.green-box {
	background-color: forestgreen;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
	height: 40px;
	padding-bottom: 0;
}
.orange {
	background-color: darkorange;
}
.light-orange-box {
	background-color: rgba(255, 195, 115, 1);
}
.orange-box {
	background-color: darkorange;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
	height: 40px;
	padding-bottom: 0;
}
.red {
	background-color: firebrick;
}
.light-red-box {
	background-color: darksalmon;
}
.red-box {
	background-color: firebrick;
	box-shadow: 0 0 10px rgba(0, 0, 0, .3) inset;
	height: 40px;
	padding-bottom: 0;
}

.grey-text {
	color: grey;
}

card-actions {
	display: flex;
	flex-direction: row;
	padding: 5px 10px 10px 10px;
}

card-content{
	display: flex;
	flex-direction: row;
	padding: 0 10px 10px 10px;
}

.note-check {
	padding-right: 10px;
}

.right {
	margin-left: auto;
}

modal {
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: rgba(0, 0, 0, 0.70);
	z-index: 999;
}
modal-box {
	position: absolute;
	top: 40px;
	left: 20px;
	right: 20px;
	min-height: 80vh;
	background-color: white;
	z-index: 1000;
}

modal-title {
	display: flex;
	align-items: center;
	width: 100%;
	height: 80px;
	overflow: hidden;
	background-color: #444444;
	z-index: 1001;
}

modal-title-box {
	display: flex;
	width: 100%;
	padding: 10px 25px 0 15px;
}

modal-title-icon {
	margin: auto 0 auto auto;
}

modal-title-text {
	color: #eeeeee;
	font-size: large;
}

modal-content {
	display: flex;
	margin: 10px;
	align-items: stretch;
}

.modal-form {
	width: 100%;
}

.title-input {
	width: 100%;
	padding: 5px;
	border: none;
	border-bottom: 1px solid #888888;
	font-size: large;
}

*:focus {
	outline: 0;
}

spinner {
	display: flex;
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background-color: rgba(0, 0, 0, 0.51);
	z-index: 1100;
}

.spinner-box {
	margin: auto;
	color: white;
}

.spinner-text {
	padding-top: 20px;
}

toast {
	position: fixed;
	bottom: 60px;
	left: 0;
	right: 0;
	margin: 0 40px;
	min-width: 160px;
	padding: 10px 30px;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.80);
	box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.60);
	color: white;
	font-weight: 600;
	text-align: center;
	z-index: 9000;
}

.note-checked {
	color: grey;
	text-decoration: line-through;
}