<sub-toolbar>
	<sub-toolbar-icon-box>
		<span class="sub-toolbar-icon" ng-click="app.chProjectOrder(['title', '-rate'])"
			  ng-class="{'active':app.isProjectOrder(['title', '-rate'])}">
			<i class="fa fa-font fa-2x"></i>
			<i class="fa {{app.projectOrderCaret}}" ng-show="app.isProjectOrder(['title', '-rate'])"></i>
			<i class="fa fa-sort" ng-hide="app.isProjectOrder(['title', '-rate'])"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectOrder(['-rate', 'title'])"
			  ng-class="{'active':app.isProjectOrder(['-rate', 'title'])}">
			<i class="fa fa-exclamation-triangle  fa-2x"></i>
			<i class="fa {{app.projectOrderCaret}}" ng-show="app.isProjectOrder(['-rate', 'title'])"></i>
			<i class="fa fa-sort" ng-hide="app.isProjectOrder(['-rate', 'title'])"></i>
		</span>
	</sub-toolbar-icon-box>
	<sub-toolbar-icon-box>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('who', app.settings.user)"
			  ng-class="{'active':app.activeFilter('who', app.settings.user)}">
			<i class="fa fa-user fa-2x"></i>
		</span>
	</sub-toolbar-icon-box>
	<sub-toolbar-icon-box>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '0')"
			  ng-class="{'active':app.activeFilter('type', '0')}">
			<i class="fa fa-folder fa-2x"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '1')"
			  ng-class="{'active':app.activeFilter('type', '1')}">
			<i class="fa fa-folder-o fa-2x"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '2')"
			  ng-class="{'active':app.activeFilter('type', '2')}">
			<i class="fa fa-archive fa-2x"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '3')"
			  ng-class="{'active':app.activeFilter('type', '3')}">
			<i class="fa fa-file fa-2x"></i>
		</span>
	</sub-toolbar-icon-box>
</sub-toolbar>

<project class="card"
		 ng-repeat="p in app.projects | filter: app.projectFilter | orderBy: app.projectOrder :app.projectReverse">
	<a id="anchor{{p.id}}"></a>
	<card-title class="{{p.color}}">{{p.title}} &nbsp;&nbsp;<i class="fa fa-{{p.icon}}"></i><span class="right"></span>
		<btn ng-click="app.editProject(p)">EDIT</btn>
	</card-title>

	<sub-toolbar>
		<sub-toolbar-icon-box class="right">
			<i class="fa fa-plus-square-o fa-lg grey-text" ng-click="app.toggleShowAddNote(p.id);"></i>
		</sub-toolbar-icon-box>
	</sub-toolbar>

	<card-content
			ng-repeat="n in app.notes | filter: {pID: p.id}: true | orderBy: ['-state', 'due']"
			ng-swipe-right="app.checkNote(n.id);">
		<i class="fa fa-square-o fa-lg grey-text note-check" ng-if="n.state === '1'" ng-click="app.checkNote(n.id);"></i>
		<i class="fa fa-check-square-o fa-lg grey-text note-check" ng-if="n.state === '0'"></i>
		<i class="fa fa-exclamation-triangle fa-lg note-overdue note-check" ng-if="n.due < app.today"></i>
		<span ng-class="{'note-checked': n.state === '0'}">
			{{n.text}}</span>
		<span class="right grey-text" ng-class="{'note-overdue strong': n.due < app.today}">{{n.due | date:'d-MMM'}}</span>
	</card-content>

</project>

