<sub-toolbar>
	<sub-toolbar-icon-box> <i class="fa fa-sort label-icon">:</i>
		<span class="sub-toolbar-icon" ng-click="app.chProjectOrder(['title', '-rate'])"
			  ng-class="{'active':app.isProjectOrder(['title', '-rate'])}">
			<i class="fa fa-font fa-2x"></i> <i class="fa {{app.projectOrderCaret}}"
												ng-show="app.isProjectOrder(['title', '-rate'])"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectOrder(['-rate', 'title'])"
			  ng-class="{'active':app.isProjectOrder(['-rate', 'title'])}">
			<i class="fa fa-exclamation-triangle fa-2x"></i> <i class="fa {{app.projectOrderCaret}}"
																ng-show="app.isProjectOrder(['-rate', 'title'])"></i>
		</span>
	</sub-toolbar-icon-box>
	<sub-toolbar-icon-box> <i class="fa fa-filter label-icon">:</i>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('who', '1')" ng-class="{'active':app.activeFilter('who', '1')}">
			<span class="sub-toolbar-text">ME</span>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '0')" ng-class="{'active':app.activeFilter('type', '0')}">
			<i class="fa fa-folder fa-2x"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '1')" ng-class="{'active':app.activeFilter('type', '1')}">
			<i class="fa fa-folder-o fa-2x"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '2')" ng-class="{'active':app.activeFilter('type', '2')}">
			<i class="fa fa-archive fa-2x"></i>
		</span>
		<span class="sub-toolbar-icon" ng-click="app.chProjectFilter('type', '3')" ng-class="{'active':app.activeFilter('type', '3')}">
			<i class="fa fa-file fa-2x"></i>
		</span>
	</sub-toolbar-icon-box>
</sub-toolbar>
<project class="card"
		 ng-repeat="p in app.projects | filter: app.projectFilter | orderBy: app.projectOrder :app.projectReverse">
	<card-title class="{{p.color}}">{{p.title}} <span class="right"></span>
		<btn ng-click="">EDIT</btn>
	</card-title>
	<card-actions>{{p.state}}</card-actions>
	<card-content ng-repeat="n in app.notes | filter: {pID: p.id}">{{n.text}}</card-content>
</project>

