<!DOCTYPE html>
<html ng-app="app" ng-controller="appCtrl as app">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1, maximum-scale=1, minimum-scale=1">
	<title>ProjMan</title>
	<link rel="stylesheet" href="common/app.css">
	<link rel="stylesheet" href="assets/font-awesome/css/font-awesome.css">

</head>
<body>

<container>
	<header></header>
	<content></content>
	<toast ng-if="app.showToast">{{app.toastMessage}}</toast>
</container>

<modal id="addProject" ng-if="app.showAddProject"></modal>
<add-project ng-if="app.showAddProject"></add-project>

<modal id="editProject" ng-if="app.showEditProject"></modal>
<edit-project ng-if="app.showEditProject"></edit-project>

<modal id="addNote" ng-if="app.showAddNote"></modal>
<add-note ng-if="app.showAddNote"></add-note>

<modal id="editNote" ng-if="app.showEditNote"></modal>
<edit-note ng-if="app.showEditNote"></edit-note>

<modal id="spinner" ng-if="app.showSpinner"></modal>
<spinner ng-if="app.showSpinner"></spinner>

<modal id="settings" ng-if="app.showSettings"></modal>
<settings ng-if="app.showSettings"></settings>



</body>
<script src="assets/angular.js"></script>
<script src="assets/angular-touch.js"></script>
<script src="projects/getProjects.js"></script>
<script src="notes/getNotes.js"></script>
<script src=""></script>
<script src=""></script>
<script src="common/app.js"></script>
</html>